* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background-image: url(Images/art-black-and-white-counter-2341290.jpg);
    image-rendering: optimizeQuality;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    background-color: gray;
    border-style: none;
}

form.charSheet {
    width: 1400px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

form.charSheet header div.header {
    width: 100%;
    display: flex;
    align-content: stretch;
    align-items: stretch;
}

form.charSheet main div.stats {
    width: 50%;
}

form.charSheet main div.stats ul.stats {
    display: flex;
    /* align-content: stretch;
    align-items: stretch; */
}

form.charSheet main div.stats ul.stats li {
    display: flex;
    align-items: center;
}

/* form.charSheet main div.stats ul.stats li > * {
    margin-left: 5px;
  } */

.header {}

.header h1 {
    font-size: 50px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sidenav {
    overflow: hidden;
    background-color: #333;
}

.sidenav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sidenav ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav a:hover {
    background-color: green;
    stroke: black;
    color: black;
}

.leftcolumn {
    float: left;
    width: 80%;
}

.rightcolumn {
    float: right;
    width: 20%;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.rightcolumn .card table {
    background-color: lightgray;
    border-collapse: collapse;
}

.rightcolumn .card table tbody tr:nth-child(even) {
    background-color: lightgray;
}

.rightcolumn .card table tbody {
    border: 1px solid black;
    background-color: darkgray;
}

.rightcolumn .card table tbody tr, td {
    border: 1px solid black;
}

.rightcolumn .card table thead {
    font-weight: bold;
    border-collapse: collapse;
    background-color: gray;
}

.rightcolumn .card table tfoot {
    border: 1px solid black;
    background-color: black;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}